/* src/pages/Numbers/Translator/NumberTranslator.module.css */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-app);
  position: relative;
}

/* === Header === */
.header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 16px;
  padding-left: 12px;
  padding-top: calc(env(safe-area-inset-top) + 24px);
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.backBtn {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--color-Blue);
}

.title {
  font-size: 18px;
  font-weight: 700;
  flex: 1;
  text-align: left;
}

.headerPlaceholder {
  width: 40px;
}
