.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--gradient-header-1);
  position: relative;
}

/* === Header === */
.header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 16px;
  /* padding-left: 12px; */
  padding-top: calc(env(safe-area-inset-top) + 24px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.backBtn {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}

.title {
  font-size: 18px;
  font-weight: 700;
  flex: 1;
  text-align: left;
  color: white;
  margin-left: 8px;
}

.headerPlaceholder {
  width: 40px;
}
