.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bigChar {
  font-size: 160px;
  line-height: 1.1;
  font-weight: 800;
  color: var(--color-Gray9);
  margin-bottom: 8px;
}

.midChar {
  font-size: 100px;
  line-height: 1.1;
  font-weight: 800;
  /* 开启比例宽度替代，自动消除拗音间距 */
  font-feature-settings: 'palt';
  color: var(--color-Gray9);
  margin-bottom: 8px;
}

.romajiSub {
  font-size: 28px;
  color: var(--color-Gray6);
  font-weight: 600;
  margin-top: -10px;
}
