.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6px;
  gap: 4px;
}

.segment {
  position: relative;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
}

.fill {
  height: 100%;
  transition: width 0.3s ease-out;
  border-radius: 3px;
}

.learnColor {
  background-color: #3b82f6;
} /* 蓝 */
.quizColor {
  background-color: #f97316;
} /* 橙 */
