body {
  /* 默认用中文 UI 字体，日语教学字体单独设置*/
  font-family: var(--font-family-ui);

  /* 开启抗锯齿，让文字更细致 */
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg);
  color: var(--color-text-main);
  min-height: 100vh; /* 保证至少有一屏高 */
  box-sizing: border-box;
  margin: 0; /* 去掉浏览器默认边距 */
}

#root {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'HengShanSosho'; /* 这是你在 CSS 中调用的名字 */
  src: url('../assets/fonts/HengShanMaoBiCaoShu-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 确保字体未加载完时先显示默认字体，避免白屏 */
}

/* --- 全局按钮通用样式 --- */

/* 基础结构与交互 */
.btn-base {
  padding: 14px;
  border-radius: 999px; /* 只要这个数值大于高度的一半，浏览器就会自动把它限制为高度的一半 */
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    opacity 0.2s,
    transform 0.1s;
  user-select: none;
  /* 移除移动端点击高亮 */
  -webkit-tap-highlight-color: transparent;
}

/* 点击反馈 */
.btn-base:active {
  opacity: 0.8;
  transform: scale(0.98); /* 增加一点点微缩手感 */
}

/* 禁用状态 */
.btn-base:disabled {
  background-color: #e5e5ea !important;
  color: #aeaeb2 !important;
  box-shadow: none !important;
  cursor: not-allowed;
  opacity: 1;
  transform: none;
}

/* --- 变体：主按钮 (蓝色) --- */
.btn-primary {
  background-color: #007aff;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 122, 255, 0.3);
}

/* --- 变体：次要按钮 (灰色) --- */
.btn-secondary {
  background-color: #f2f2f7;
  color: #1c1c1e;
}

/* --- 变体：危险按钮 (红色 - 备用) --- */
.btn-danger {
  background-color: #ff3b30;
  color: white;
}

.speakerBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-Blue);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.1s;
  z-index: 10;
}
.speakerBtn:active {
  transform: scale(0.92);
  background: #e5e5ea;
}
.speakerBtn svg {
  width: 22px;
  height: 22px;
  stroke-width: 1.6px;
}

/* 胶囊型备注标签 */
.notePill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 16px;

  background-color: rgba(255, 59, 48, 0.08);
  border-radius: 20px;

  font-size: 13px;
  color: var(--color-error);
  font-weight: 600;
  text-align: left;
  line-height: 1.4;

  /* 允许换行，防止内容过长撑爆 */
  white-space: pre-wrap;
  max-width: 100%;
}

.noteIcon {
  flex-shrink: 0;
  opacity: 0.8;
}
