body {
  /* 默认用中文 UI 字体，日语教学字体单独设置*/
  font-family: var(--font-family-ui);

  /* 开启抗锯齿，让文字更细致 */
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg);
  color: var(--color-text-main);
  min-height: 100vh; /* 保证至少有一屏高 */
  box-sizing: border-box;
  margin: 0; /* 去掉浏览器默认边距 */
}

#root {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'HengShanSosho'; /* 这是你在 CSS 中调用的名字 */
  src: url('../assets/fonts/HengShanMaoBiCaoShu-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 确保字体未加载完时先显示默认字体，避免白屏 */
}
