/* =========== IOS - 刘海屏解决方案 ===========  */
/*  safe-area-inset-top */
/* 各个地方各自设置： padding-top: calc(env(safe-area-inset-top) + 24px);  */

/* =========== IOS -  隐藏滚动条全局方案 =========== */

/* 1. 【关键】针对 WebKit 内核 (iOS/Android/Chrome/Safari) */
/* 使用 ::-webkit-scrollbar 伪元素选择器，并强制应用 */
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none !important; /* 强制不显示，权重拉满 */
  width: 0 !important; /* 强制宽度为 0 */
  height: 0 !important; /* 强制高度为 0 */
  background: transparent !important; /* 强制背景透明 */
  -webkit-appearance: none !important;
}

/* 2. 针对 Firefox / IE / Edge 等标准属性 (你截图里已经有的部分) */
html,
body,
#root,
* {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE 10+ */
}

/* =========== IOS - 长按选中文案的全局解决方案  ===========  */
:root {
  /* :root 相当于 <html> 标签 */
  /* 禁止 iOS 长按弹出菜单 (保存图片/链接预览等) */
  -webkit-touch-callout: none;

  /* 禁止文本选择 (这是消除放大镜和光标的关键) */
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */

  /* 禁止点击时的高亮背景色 (原生 App 点击没有那个灰色的背景块) */
  -webkit-tap-highlight-color: transparent;
}

/* --- 重要例外：输入框必须允许选择，否则无法打字 --- */
input,
textarea,
[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
  -webkit-appearance: none;
}
