.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bigChar {
  font-size: 160px;
  line-height: 1.1;
  font-weight: 800;
  color: var(--color-Gray9);
  margin: 16px 0 0 0;
}

.romajiSub {
  font-size: 28px;
  color: var(--color-Gray6);
  font-weight: 600;
  margin-top: -10px;
}
