.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.furigana {
  font-size: 24px;
  color: var(--color-Gray6);
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: -5px;
}

.kanjiMain {
  font-size: 72px;
  font-weight: 800;
  color: var(--color-Gray9);
  line-height: 1.1;
  margin: 5px 0;
  text-align: center;
}

.kanjiMainSmall {
  font-size: 48px;
  font-weight: 800;
  color: var(--color-Gray9);
  line-height: 1.1;
  margin: 5px 0;
  text-align: center;
}

.romajiBottom {
  font-size: 24px;
  color: var(--color-Gray6);
  font-weight: 600;
  margin-top: 15px;
}

.meaningText {
  font-size: 16px;
  color: var(--color-Gray6);
  margin-top: 8px;
  font-weight: 400;
  text-align: center;
}

.emoji {
  font-size: 100px;
  line-height: 1.2;
  font-family: '"Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif';
}

.originTag {
  display: inline-flex;
  align-items: center;
  /* 使用 gap 代替 margin-right，更现代 */
  gap: 8px;

  background-color: var(--color-xxxBlue); /* 比如 #eff6ff */
  /* border: 1px solid rgba(0, 0, 0, 0.04); 极淡的边框增加精致感 */
  border-radius: 4px; /* 不需要完全圆角(999px)，稍微方一点更像标签 */
  padding: 4px 8px 4px 10px; /* 上下压扁一点 */

  margin-bottom: 16px;
  /* 去掉阴影，看起来更轻盈 */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.originLabel {
  color: var(--color-Gray6); /* 颜色要淡 */
  font-size: 11px; /* 字号要极其小 */
  font-weight: 700;
  text-transform: uppercase; /* 全大写，显得像系统标签 */
  letter-spacing: 0.05em;
  line-height: 1;
}

.divider {
  width: 2px;
  height: 12px;
  background-color: var(--color-Gray5); /* 竖线颜色 */
  opacity: 0.5;
}

.originContent {
  display: flex;
  align-items: center;
  gap: 6px;
}

.flag {
  font-size: 1.2em; /* 图标稍微大一点点 */
  line-height: 1;
  display: flex;
}

.originWord {
  color: var(--color-Blue);
  font-size: 14px;
  font-weight: 600; /* 内容加粗，突出重点 */
}
