/* src/pages/Dates/components/DayLearning/LegendArea.module.css */

.legendArea {
  padding: 4px 0;
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scrollbar-width: none;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  background-color: white;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid transparent;
}

.legendDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.legendLabel {
  font-size: 11px;
  font-weight: 600;
  color: #94a3b8;
}

/* 颜色映射 */
.legend_regular .legendDot {
  background: #9ca3af;
}
.legend_trap .legendDot {
  background: var(--color-type-trap-bg);
}
.legend_mutant .legendDot {
  background: var(--color-type-mutant-bg);
}
.legend_rune .legendDot {
  background: var(--color-type-rune-bg);
}

.legendActive {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.legendActive .legendLabel {
  color: #1e293b;
}
