.container {
  min-height: 100vh;
  background-color: var(--color-bg);
  padding-bottom: calc(32px + env(safe-area-inset-bottom));
  --header-height: 149px;
  --section-header-height: 32px;
}

.selectionModeContainer {
  /* 让底部留出更多空间给悬浮 Footer 
     计算公式参考：Footer高度(约80px~140px) + 安全距离 
  */
  padding-bottom: calc(160px + env(safe-area-inset-bottom));
}

/* --- 顶部导航栏 (Page Sticky Header) --- */

.stickyHeader {
  padding-top: calc(env(safe-area-inset-top) + 24px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: white;
  height: var(--header-height);
}

.stickyHeaderCol {
  padding: 0 16px 16px 12px;
  /* 视觉上左右对齐 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.stickyHeaderCol2 {
  padding: 16px;
  background-color: var(--color-bg);
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.backBtn {
  border: none;
  background: none;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-Blue);
}

.pageTitle {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-Gray9);
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 8px;
}

.romajiLabel {
  font-size: 13px;
  color: var(--color-Gray7);
  font-weight: 500;
}

/* --- Content Area --- */
.content {
  padding: 16px 8px;
  padding-top: calc(env(safe-area-inset-top) + var(--header-height));
}

/* --- Sections --- */
.sectionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sectionHeader {
  font-size: 16px;
  color: var(--color-Gray7);
  padding-bottom: 12px;
  margin-left: 4px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  width: 100%;
  /* position: sticky;
  left: 0;
  right: 0; */
  text-align: center;
  z-index: 15;
  height: var(--section-header-height);
  background-color: var(--color-bg);
  /* top: calc(env(safe-area-inset-top) + var(--header-height) - 2px); */
  /* 打包进 IOS，像素计算因为分辨率总有误差。比如命名设置了 149px，在浏览器端是正常的。打包进 IOS 就不正常了。 */
}
