/* src/pages/Dates/Levels/Level4/Level4.module.css */

.container {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f8fafc; /* 背景色，遮罩层需要用到这个颜色 */
  overflow: hidden;

  /* 垂直居中 */
  display: flex;
  align-items: center;
  justify-content: center;
}
